{% extends 'base.html' %}

{% block title %}
Мой профиль
{% endblock title %}

{% block content %}

<!-- MODAL -->
<div class="ui modal mymodal"> <!-- style.css -->
  <i class="close icon"></i>
  <div class="header">
    Обновить профиль
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="{{profile.avatar.url}}">
    </div>
    <div class="description">
      <div class="ui header">Добавить/изменить информацию о себе</div>
      <form action="" method="POST" class="ui form" enctype="multipart/form-data">
        {% csrf_token %} <!--добавляем токен при методе POST-->
        {{form.as_p}} <!--.as_p добавляет пространство между строками-->
    </div>
  </div>
  <div class="actions">
    <button type="submit" class="ui positive right labeled icon button">
      Обновить
      <i class="checkmark icon"></i>
    </button>
    </form>
  </div>
</div>

<div class="ui segment">
  {% if confirm %} <!--если в методе вьюхи "обновить профиль" все ок...-->
    <div class="ui green message">Профиль обновлен</div>
  {% endif %}
  <h3>Профиль юзера {{request.user}}</h3>
  <div class="ui grid">
  <div class="row">
      <div class="six wide column">
        <img class="oi medium rounded image" src="{{profile.avatar.url}}">
        <div class="row mt-5">
          <button class="ui secondary button" id="modal-btn">Обновить ваш профиль</button> <!--настройка в static_project/main.js...-->
        </div>
      </div>
    <div class="ten wide column">
      <table class="iu table">
        <tbody>
        <tr>
          <td>Пользователь</td>
          <td>{{profile.user}}</td>
        </tr>
        <tr>
          <td>Имя</td>
          <td>{{profile.first_name}}</td>
        </tr>
        <tr>
          <td>Фамилия</td>
          <td>{{profile.last_name}}</td>
        </tr>
        <tr>
          <td>О себе</td>
          <td>{{profile.bio}}</td>
        </tr>
        <tr>
          <td>Число друзей</td>
          <td>{{profile.get_friends_no}}</td>
        </tr>
        <tr>
          <td>В друзьях</td>
          <td>
            <ul>
              {% for friend in profile.get_friends %}
              <li>
                {{friend}}
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        <tr>
          <td>Количество постов</td>
          <td>{{profile.get_posts_no}}</td>
        </tr>
        <tr>
          <td>Количество выданных лайков</td>
          <td>{{profile.get_likes_given_no}}</td>
        </tr>
        <tr>
          <td>Количество полученных лайков</td>
          <td>{{profile.get_likes_received_no}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>


{% endblock content %}
